/* *******************************************
****** PROJECT SETUP
******************************************* */

/* VARIABLES */
:root {
  /* MAIN COLORS */
  --main: black;
  --secondary: white;
  --accent: red;

  /* FONTS */
  --title: serif;
  --text: aerial;
}

/* GLOBAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 2px solid gold; */
}
h1, h2{
  font-family: 'Goldman', cursive;
}
h3{
  font-family: 'Righteous', cursive;
}
p{
  font-family: 'Noto Sans JP', sans-serif;
}
/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
} */

#text{
  font-family: 'Staatliches', cursive;
}

body {
  font-family: var(--text);
}

footer {
  background-color: green;
}

/* *******************************************
****** PROJECT STYLES
******************************************* */

/* *******************************************
****** Mobile Design
******************************************* */

body {
  background-image: url("https://i.pinimg.com/originals/17/a0/48/17a048b000432ed3e7551da8aad075e6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  background-image: url("https://freefrontend.com/assets/img/css-background-patterns/jason-quote-bg-pattern.png");
}

.fa-bars {
  display: flex;
  align-items: center;
  padding: 10px;
}

sl-tab {
  display: none;
  font-family: 'Staatliches', cursive;
}

sl-tab::part(base){
  font-family: 'Staatliches', cursive;
  font-size: 20px;
}

sl-tab-panel{
  min-height: 414px;
}

/* ::part(base){
  font-family: 'Staatliches', cursive;
  font-size: 20px;
} */

h2 {
  text-align: center;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.skill_icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.5);
  border: 5px solid #16EAF7;
  border-radius: 25px;
}

label {
  margin: 10px 0 10px 0;
}

::part(tabs) {
  display: flex;
  justify-content: center;
}
sl-tab-panel::part(base) {
  min-height: 437px;
}

.home section {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 5px solid #16EAF7;
  border-radius: 25px;
  margin-top: 5px;
}
.home div{
  display: flex;
  justify-content: center;
}
.home section p{
  padding: 5px;
  
}
.projects{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

new-carousel{
  width: 100%;
}

#back{
  border: none;
  height: 50px;
  width: 30px;
  margin-right: 10px;
  background-image: url("https://cdn3.iconfinder.com/data/icons/arrows-219/24/chevron-left-512.png");
  background-position: center;
}

#forward{
  border: none;
  height: 50px;
  width: 30px;
  margin-left: 10px;
  background-image: url("https://cdn3.iconfinder.com/data/icons/arrows-219/24/chevron-right-512.png");
  background-position: center;
}

.projects div{
  border: 5px solid #16EAF7;
  border-radius: 25px;
}
.projects div h3{
  display: flex;
  justify-content: center;
  border-bottom: 5px solid #16EAF7;
}

.projects div p{
  border-top: 5px solid #16EAF7;
}

li{
  text-align: center;
  margin: 15px;
}
i{
  color: black;
}
form {
  display: flex;
  flex-direction: column;
  border: 5px solid #16EAF7;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1% 5%;
  margin-top: 2%;
}

div img{
  border: 5px solid #16EAF7;
  border-radius: 25px;
}

.submit {
  width: fit-content;
  margin: 10px 0;
}

.social ul {
  display: flex;
  list-style: none;
}

.social ul li {
  margin: 20px 20px;
}
textarea {
  resize: none;
}

#foot {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0%;
  width: 100%;
  background-image: url("https://freefrontend.com/assets/img/css-background-patterns/jason-quote-bg-pattern.png");
  
}

@media screen and (min-width: 768px) {
  .projects {
    margin: 0 15%;
  }
  .home {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .home section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    border: 5px solid #16EAF7;
    border-radius: 25px;
    margin-left: 5px;
    margin-top: 0;
  }

  div img {
    display: flex;
    justify-content: space-around;
    height: 50%;
    border: 5px solid #16EAF7;
    border-radius: 100px;
  }


  .home div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://hub.packtpub.com/wp-content/uploads/2018/05/programming.jpg");
    background-size: cover;
    border: 5px solid #16EAF7;
    border-radius: 25px;
    margin-right: 5px;
  }
  form{
    margin: 0 15%;
    padding: 1% 5%;
  }
  .skill_icons{
    margin: 0 20%;
  }
  .social_links {
    margin-top: 40px;
    padding: 0 10%;
  }
}

@media screen and (min-width: 1024px) {
  #page-container{
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    position: relative;
    min-height: 100vh;
    
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  i.fas {
    display: none;
  }
  sl-tab {
    display: flex;
    justify-content: center;
  }

  ::part(tabs) {
    display: flex;
    justify-content: center;
  }

  ::part(active-tab-indicator) {
    display: none;
  }

  ::part(nav) {
    width: auto;
  }

  sl-tab-panel{
    margin: 3% 0;

  }
  
  sl-tab-panel::part(base) {
    padding: 0 10%;
  }
  
  .home section{
    padding: 25px;
  }
  .home section p{
    padding: 25px 25px;
  }

  .home div div img {
    display: flex;
    justify-content: space-around;
    height: 50%;
    border: 5px solid #16EAF7;
    border-radius: 100px;
  }
  .social_links {
    display: none;
  }
  .projects {
    margin: 0 20%;
  }

  form{
    margin: 0 30%;
    padding: 1% 5%;
  }
  
  new-carousel{
    max-width: 500px;
  }
}

@media screen and (min-width: 2560px) {
  sl-tab-panel::part(base) {
    padding: 0 20%;
  }
}
